body {
  background: url("https://mcdn.wallpapersafari.com/medium/31/98/1iNE4T.jpg")
    no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
